<!doctype html>
<html >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Super Ferrari</title>
</head>
<body>
	<div ng-app = "CarApp" class = "container">
		<div ng-view="">
			<!-- placeholder for views -->
		</div>
	</div>
	<script type="text/javascript" src = "/javascripts/libs/angular.min.js"></script>
	<script type="text/javascript" src = "/javascripts/controllers.js"></script>
	<script type="text/javascript" src = "/javascripts/app.js"></script>
</body>
</html>